# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/

# PyTest
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Docker/Database
postgres_data/

# Project specific
*.wav
*.mp3
tmp/
temp/